.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  

  font-family: "_light";

  #nav_btn_mobile {
    visibility: hidden;
    position: absolute;
  }

  li, a, i{
    font-size: 50px;
    color: #4B4B4B;
    text-decoration: none;
    list-style: none;
    display: inline-block;
  }

  .nav_items li{
    padding: 15px;
  }

  .nav_items2 i{
    font-size: 40px;
    margin-left: 30px;
  }


  .active::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #4B4B4B;
  }
  a:hover{
    color: #FFB8B8;
  }
  i:hover{
    color: #FFB8B8;
  }
}

#navbar_logo {

  font-family: "_regular";
  font-size: 60px;
  background-color: #4B4B4B;
  color: #f4f4f4;
  padding-top: 13px;
  padding-left: 12px;
  padding-right: 12px;
  //padding: 10px;
}

@media only screen and (max-width: 960px) {
  .navbar {
    text-align: center;
    .nav_mobile {
      display: block;
      position: absolute;
      visibility: hidden;
      margin-top: -100px;
      transition: 0s;
      &.open {
        position: relative;
        visibility: visible;
        margin-top: 0px;
      }

    }
    #nav_btn_mobile {
      visibility: visible;
      position: relative;
    }
  }
}



.main {
  .main_container {
    text-align: center;
  }
  line-height: 2em;
  .main_logo{
    font-family: "_regular";
    background-color: #4B4B4B;
    color: #f4f4f4;
    font-size: 75px;
  }
  .main_title{
    font-family: "_light";
    background-color: #FFB8B8;
    font-size: 200%;
    padding: 1px;
  }
  .main_description {
    margin-top: -30%;
    background: url(/files//img/description_bg.png) no-repeat center;
    font-family: "_light";
    background-size: 600px;
    font-size: 27px;
    color: #f4f4f4;
    padding: 30%;
    line-height: normal;
  }
  @media only screen and (max-width: 760px) {
    .main_description {
      background-size: 120vh;
      font-size: 4vh;
      padding-top: 30%;
      padding-bottom: 30%;
      padding-left: 10%;
      padding-right: 10%;
    }
  }
}

@media only screen and (max-width: 100rem) {
  .section_cards {
    margin-top: -18rem !important;
    display: block !important;
    .new_cards {
      display: flex;
      background: url(/files//img/description_bg.png) no-repeat center !important;
      background-size: 60rem !important;
      justify-content: center;
    }
    .cards_right {
      background: url(/files//img/bg_big.png) no-repeat center;
      background-size: 70rem !important;
      margin-top: -16rem;
      .top_cards, .promotion_cards {
        justify-content: center;
      }
  }
}
}
.section_cards {
  margin-top: -30%;
  display: flex;
  justify-content: center;
  align-items: center;
  .cards_right {
    padding: 10rem;
    background: url(/files//img/bg_big.png) no-repeat center;
    background-size: 70rem;
    .top_cards, .promotion_cards {
      display: flex;
    }
  }

  .cards_bottom {
    margin-top: 20%;
    text-align: center;
    padding: 10rem;
    background: url(/files//img/description_bg.png) no-repeat center;
    background-size: 100%;
    .top_cards, .promotion_cards {
      display: flex;
    }
  }
  

  .new_cards {
    padding: 5rem;
    background: url(/files//img/bg_strong.png) no-repeat center;
    background-size: 25rem;
    
  }

.card {
  .card_adv {
    background: #4B4B4B;
    color: #f4f4f4;
    display: inline-block;
    padding: 0.3rem;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.7rem;
    font-family: "_regular";
  }
  position: relative;
  padding: 2rem;
  font-family: "_light";
  img {
    width: 15rem;
    height: auto;
  }
  .card_title {
    color: #f4f4f4;
    font-size: 2rem;
    padding-bottom: 1rem;
  }
}
.Title {
  color: #f4f4f4;
  font-family: "_bold";
  font-size: 3rem;
  text-align: center;
  padding-top: 30px;
}
}




.btn {
  text-align: center;
  font-family: "_regular";
  color: #f4f4f4; 
  border: 2px solid #f4f4f4;
  padding: 0.8rem;
  font-size: 1.5rem;
  &:hover {
    background-color: #FFB8B8;
    color: #4B4B4B;
  }
  &.black {
    color: #4B4B4B;
    border: 2px solid #4B4B4B;
  }
}
.btn_center {
  text-align: center;
  & a {
    font-size: 2rem;
  }
}

.social {
  text-align: center;
  font-family: "_regular";
  font-size: 3rem;
  color: #4B4B4B;
  .icons {
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    text-align: center;
    line-height: 3rem;
    vertical-align: middle;
    padding: 0.5rem;
    background: #4B4B4B;
    color: #f4f4f4;
    &:hover {
      color: #4B4B4B;
      background: #FFB8B8;
    }
  }
}

.description {
  color: #4B4B4B;
  font-size: 2rem;
  margin-left: 3rem;
  font-family: "_regular";
  filter: blur(5px);
  &:hover {
    filter: blur(0px);
  }
}

.main_product{
  margin-left: 30px;
  font-family: "_light";
.top {
  display: flex;
  .right_product {
    margin-left: 10px;
    .Title {
      font-size: 5rem;
    }
    .product_description {
      font-size: 2.5rem;
      border-bottom: 2px solid #4B4B4B;
    }
    .price {
      margin-left: 10px;
      margin-top: 10px;
      font-family: "_bold";
      font-size: 3rem;
    }
    .count_text {
      margin-left: 10px;
      font-size: 40px;
    }
    input[type=number] {
      margin-left: 10px;
      font-family: "_regular";
      font-size: 40px;
      border: none;
      border-bottom: 3px solid #4B4B4B;
      background-color: #f4f4f4;
      
    }
    .btn {
      margin: 20px;
      font-size: 30px;
    }
  }

}
.product_full_description {
  margin-top: 10px;
  font-size: 30px;
  padding-bottom: 150px;
}
}



body {
  background: #f4f4f4;
  width: max-content;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@font-face {
  font-family: _bold;
  src: url("../Fonts/Bold.ttf");
}

@font-face {
  font-family: _light;
  src: url("../Fonts/Light.ttf");
}

@font-face {
  font-family: _regular;
  src: url("../Fonts/Regular.ttf");
}

::-webkit-scrollbar {
  width: 7px;
  margin-right: 3px;
  background-color: #4B4B4B;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #FFB8B8;
  margin-right: 3;
  cursor: pointer;
  margin-left: 3;
}
a{
  text-decoration: none;
}