.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
}

.card {
  padding: 1.5rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.35s ease;
  min-height: 200px;
}

.card:hover {
  transform: scale(1.02);
  background: rgba(255, 255, 255, 0.12);
}

.title {
  margin: 0;
  font-size: 1.3rem;
}

.description {
  font-size: 0.9rem;
  color: #a1a1a1;
}

.card:hover .title {
  background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.card:hover .description {
  color: white;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.tag {
  font-size: 0.75rem;
  padding: 0.3rem 0.6rem;
  border-radius: 999px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.05);
}

.tag:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}

.activeTag {
  background-color: #1e3a8a;
}

.links {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.link {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.85rem;
  color: #a1a1a1;
  text-decoration: none;
  transition: 0.3s;
}

.link:hover {
  color: white;
}
